<h3 style="float: left">Admin Video View</h3><br>
<a href="/admin-video-create" style="float: right; font-weight: bold;">Add a video</a>
<br><br>

<ul id='myTable'>
    <li *ngFor="let video of videos$">
      <strong>{{video.title}}</strong>
      <strong style="float:right;">
      <a routerLink="/admin-video/{{video._id}}">Edit</a><br><br>
      <a href="/admin-video/{{video._id}}">Delete</a>
    </strong>
      <ul>
      <li>Rating :{{video.rating}}</li>
      <li>Length: {{video.lenght}}</li> <!-- dat typo doe -->
      <li>Genre: {{video.genre}}</li>
      </ul>
    </li>
  </ul>