<h3>
  Video Stock
</h3>

<ul id='myTable'>
  <li *ngFor="let video of videos$">
    <strong>{{video.title}}</strong>
    <strong style="float:right;">
      <p *ngIf="video.rent=='available'; then thenBlock ;else elseBlock"></p>
      <ng-template #thenBlock><a routerLink="/video/{{video._id}}">Available</a></ng-template>
      <ng-template #elseBlock>Not available</ng-template>
    </strong>
    <ul>
      <p>
        Director: {{video.director}}
      </p>
      <p>
        Rating :{{video.rating}}
      </p>
      <p>
        Length: {{video.lenght}} <!-- dat typo doe -->
      </p>
      <p>
        Genre: {{video.genre}}
      </p>
    </ul>
  </li>
</ul>
